--
-- PostgreSQL database dump
--

\restrict ih4m3jvfs10t46LRDcrYapnQxfLOKVnbCwrUw86t8CJGfDNtVI1bRK4gbIM5aIb

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: utilisateurs; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.utilisateurs (
    id integer NOT NULL,
    nom character varying(50),
    email character varying(100)
);


ALTER TABLE public.utilisateurs OWNER TO admin;

--
-- Name: utilisateurs_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.utilisateurs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.utilisateurs_id_seq OWNER TO admin;

--
-- Name: utilisateurs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.utilisateurs_id_seq OWNED BY public.utilisateurs.id;


--
-- Name: utilisateurs id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.utilisateurs ALTER COLUMN id SET DEFAULT nextval('public.utilisateurs_id_seq'::regclass);


--
-- Data for Name: utilisateurs; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.utilisateurs (id, nom, email) FROM stdin;
1	Loic	loic@test.com
2	Admin	admin@test.com
\.


--
-- Name: utilisateurs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.utilisateurs_id_seq', 2, true);


--
-- Name: utilisateurs utilisateurs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.utilisateurs
    ADD CONSTRAINT utilisateurs_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict ih4m3jvfs10t46LRDcrYapnQxfLOKVnbCwrUw86t8CJGfDNtVI1bRK4gbIM5aIb

